div.camp-main-content {
    margin-top: 60px;
    padding: 1em 0.5em;
    background: #efefef;
    min-height: calc(100vh - 60px);

    // balloon head

    div.camp-balloon-head {
        background: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        padding: 1em 0.7em;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        div.camp-relation-container {
            padding: 0.7em 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button.camp-relation {
                margin-right: 5px;
                padding: 8px 10px;
                font-weight: bold;
                font-size: 0.7em;
                border-radius: 5px;
                &.camp-relation-follow {
                    border: 1px solid dodgerblue;
                    color: dodgerblue;
                    background: transparent;
                }

                &.camp-relation-unfollow {
                    background: transparent;
                    border: 1px solid #777;
                }
            }
        }
        div.camp-head-top,
        div.camp-head-bottom {
            width: 100%;
        }
        div.camp-head-top {
            display: flex;
            div.camp-user-avatar {
                width: 80px;
                height: 80px;
                background: #bcbcbc;
                align-self: flex-start;
                border-radius: 50%;
            }

            div.camp-user-details {
                padding-top: 1em;
                padding-left: 1em;
                flex: 1;

                h3,
                p {
                    color: #555;
                }
                h3 {
                    margin-bottom: 5px;
                }
            }
        }

        div.camp-head-bottom {
            padding: 1em 0;
            form {
                textarea {
                    width: 100%;
                    max-width: 100%;
                    resize: none;
                    border: none;
                    padding: 2em;
                    padding-left: 1em;
                    font-size: 1em;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #999;
                    overflow: hidden;
                    &::placeholder {
                        color: #444;
                    }
                }

                button {
                    padding: 1em 0.8em;
                    display: block;
                    width: 100%;
                    color: dodgerblue;
                    background: transparent;
                    border: 1px solid dodgerblue;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
        // div.camp-relation-container {
        //     div.camp-relation {
        //         padding: 10px;
        //     }
        // }
    }

    // user says

    div.camp-render-says {
        div.camp-a-say {
            background: #fff;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            margin-bottom: 1em;
            div.camp-say-top {
                display: flex;
                padding: 0.7em;
                div.camp-say-talker {
                    height: 60px;
                    width: 60px;
                    background: #bcbcbc;
                    border-radius: 50%;
                }

                div.camp-say-talker-details {
                    padding-top: 0.7em;
                    padding-left: 0.7em;
                    flex: 1;
                }

                div.camp-say-time {
                    padding-top: 0.7em;
                    p {
                        font-size: 0.9em;
                    }
                }
            }

            div.camp-say-bottom {
                padding-top: 0.5em;
                div.camp-say-say {
                    padding: 0 0.7em;
                    padding-bottom: 1em;
                }

                div.camp-say-reaction {
                    display: flex;
                    padding: 0.3em 0;
                    a {
                        color: #222;
                    }
                    button,
                    a {
                        padding: 0.7em 0;
                        flex: 1;
                        background: transparent;
                        font-weight: bold;
                        outline: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .camp-react {
                            margin-left: 5px;
                        }
                        &:nth-child(1) {
                            border-right: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }
    }
}

div.camp-loader {
    background: rgb(20, 104, 187);
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2,
    p {
        font-weight: bold;
    }

    h2 {
        font-size: 2.5em;
    }
}
